
<form method="post" action="/projects/<%=@project.id%>/edit">
<input type="hidden" name="_method" value="patch">
<h1>You can edit your project here:</h1>
<br>
<h4>Project Name: <input type="text" name=project[name] value="<%= @project.name %>"></h4>
<br>
    <% @project.tasks.each do |t| %>
        <ul>
        <li>Task Name: <input type="text" name=tasks[<%= t.id %>][name] value="<%= t.name %>"></li>
        <li>Task Description: <input type="text" name=tasks[<%= t.id %>][description] value="<%= t.description %>"></li>
        <li>Task Deadline: <input type="text" name=tasks[<%= t.id %>][deadline] value="<%= t.deadline %>"></li>
        </ul>
        <br>
        <br>
    <% end %>

You can also add a new task:
<br>
<br>
        <ul>
        <li>Task Name: <input type="text" name=new[name]></li>
        <li>Task Description: <input type="text" name=new[description]></li>
        <li>Task Deadline: <input type="text" name=new[deadline]></li>
        </ul>
        <br>


<input type="submit" value="Edit">
</form>