<h2>Hello <%= @user.username %>! You have the below projects assigned to you:</h2>
<br>

<% @projects.each do |p| %>
    
    <h4><a href="/projects/<%=p.id%>/edit"><%= p.name %></a></h4>
    <% p.tasks.each do |t| %>
        <ul>
        <li>Task Name: <%=t.name%></li>
        <li>Task Description: <%=t.description%></li>
        <li>Task Create Date: <%=t.create_date%></li>
        <li>Task Deadline: <%=t.deadline%></li>
        </ul>
        <br>
    <% end %>
    <form method="post" action="/projects/<%=p.id%>/delete">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Finish">
        </form>
        <br>
<% end %>
<br>
<br>
<a href="/projects/new">Create New Project</a>

