<h2>Hello <%= @user.username %>! Here is Project "<%= @project.name %>" for you: </h2>
<br>

<h4><%= @project.name %></a></h4>
<br>
    <% @project.tasks.each do |t| %>
        <ul>
        <li>Task Name: <%=t.name%></li>
        <li>Task Description: <%=t.description%></li>
        <li>Task Create Date: <%=t.create_date%></li>
        <li>Task Deadline: <%=t.deadline%></li>
        </ul>
        <br>
        <br>
        <% end %>

<a href="/projects/<%=@project.id%>/edit">Edit</a>